@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: url('img/bg-img.jpg') no-repeat center center cover;
  background-color: #252839;
  /* background: #333; */
  color: #ccc;
}

/* Navigation */
.profile-photo {
  width: 10rem;
  margin-left: 1rem;
  margin-top: 0.25rem;
  border-radius: 10rem;
  height: 10rem;
}

.burger{
  fill: white;
}

nav{
  background-color: #14183F;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 10rem;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
  font-size: 2rem;
}

nav a:hover{
  filter:brightness(80%);
}

nav li:first-child{
  margin-right: auto;
}

.hr-line {
  border: 1px dotted gray;
}


.intro-msg {
  font-size: 4rem;
  margin-left: 2rem;
}

.typewriter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16rem;
  padding: 0 1.6rem;
  margin-left: 2rem;
}

.typewriter h1{
  font-size: 4rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 2rem;
}


/*  Cursor */
.txt-type .txt {
  padding: 0 0.5rem;
  font-size: 8rem;
  font-weight: 900;
  color: #e6264c;
}

.txt::after{
  content: '';
  padding-left: .5rem;
  border-right: 0.5rem solid gray;
}

/* Projects Container */
.projects-container {
  display: flex;
  flex-direction: row;
}
.experience {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 60vw;
  color: rgb(190, 189, 189);
  letter-spacing: 0.1rem;
}

.experience p {
  font-size: 2rem;
  line-height: 4rem;
  width: 80%;
  margin-left: 2rem;
  box-shadow: 1px 1px 1px 2px #3b4160;
  padding: 2rem;
}

.projects-link {
  color: crimson;
}

.projects-link:hover {
  filter: brightness(120%);
}

/* SLIDER */

.carousel {
  margin-top: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 250px;
  width: 400px;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 2rem;
}

.image-container {
  display: flex;
  /* moving it along the x axis */
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.img button {
  width: 40rem;
}

.img a {
  text-decoration: none;
  color: #da5252;
  font-size: 5rem;
}


.cloud {
  width: 12rem;
  position: absolute;
  right: 0;
  top: 1rem;
  animation: bounce 50s linear infinite;
}

/* Interests */
.interests{
  font-size: 2rem;
  margin-left: 3rem;
}

.interests h1{
  font-weight: 900;
  color: crimson;
  text-decoration: underline;
}

/* Contact */
#contact{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 4rem;
  min-height: 30rem;
  margin-bottom: 4rem;
}


#contact span{
  margin-top: 2rem;
  display: block;
  font-size: 2.5rem;
}

.links h1:first-child{
  font-weight: 900;
  color: crimson;
  text-decoration: underline;
}

/* Resume */
.resume h1{
  font-size: 3rem;
}
.resume button{
  margin-right: 4rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: 4px solid green;
  width: 12rem;
  padding: .5rem;
  color: green
}
.resume button:hover{
  color:  #14183F;
  filter: brightness(120%)
}

@keyframes bounce {
  0% {
    color: skyblue;
    right: 0;
    top: 1rem;
  }

  50% {
    right: 1150px;
    top:1rem;
  }

  100%{
    right: 0;
    color:gray;
    top:1rem;
  }
}

/* media queries */
@media (max-width: 1024px) {
  .txt-type .txt {
    font-size: 6rem;
  }
  .projects-container {
    flex-direction: column;
  }
  .experience{
    width: 100%;
  }
  .carousel{
    align-self: center;
  }
  .profile-photo{
  
    height: 10rem;
  }

  .typewriter{
    height: 10rem;
  }

  .typewriter h1{
    line-height: 4rem;
    font-size: 2rem;
  }

}

@media(max-width: 752px){
  .links h1:first-child{
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .cloud{
    display: none;
  }

}

@media(max-width: 501px){

  .experience p {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 90%;
    margin-left: 0;
    box-shadow: 1px 1px 1px 2px #3b4160;
    padding: 1rem;
  }
  
    .typewriter h1{
      line-height: 4rem;
      font-size: 2rem;
    }

    .typewriter h1 span{
      font-size: 1rem;
    }
    
    
    .txt-type .txt {
    font-size: 4rem;
  }
    .intro-msg{
      font-size: 2rem;
    }

    .carousel{
      width: 95%;
      margin: 2rem 0;
    }

    .experience h2{
      font-size: 3rem;
    }
    
  }